<!DOCTYPE html>
<html lang="en">

<%- include('template/header'); %>

<body>
  <div class="container">

    <div class="row">

      <div class="col-12">
        <h1>
          <%=title %>
        </h1>
        <p>Download Links ...</p>
      </div>

      <!-- Showing Word Details -->
      <div class="col-12" id="wordDetail">
        <h3>List of All Words for <code>
            <%=book %></code>:</h3>
        <br>
        <table class="table table-bordered table-sm" id="wordTable">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Word</th>
              <th scope="col">Usage</th>
              <th scope="col">Definition</th>
            </tr>
          </thead>
          <tbody>
            <!-- to be filled by js -->
          </tbody>
        </table>
      </div>
    </div>

    <!-- Creating the a Table of Words -->
    <script src="./js/showWords.js" type="text/javascript"></script>
    <script>
      var wordList = <%- JSON.stringify(words) %>;
      var defMap = <%- JSON.stringify(definitionDict) %>;
      console.log("creating the table for " + wordList.length + " words!!");
      console.log("creating the table for " + Object.keys(defMap).length + " definitions!!", defMap);
      /* reading from showWords.js */
      createWordTable(wordList, defMap);
    </script>
  </div>

  <%- include('template/footer'); %>
</body>

</html>